body {
    margin-left: 20%;
    margin-right: 20%;
}
.top-heading {
    background-color: #323232;
    color: white;
}
#top-heading {
    margin: 0 20px 20px 20px;
    text-align: center;
}



#collection-head {
    margin: 20px 20px 5px 20px;
    text-align: center;
    color: #323232;
}


#stamp-head {
    margin: 20px 20px 5px 20px;
    text-align: center;
    color: #323232;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2% 10% 6% 10%;
}

#stamp-heading {
    justify-content: center;
    margin: 10px;
}

.btn {
    margin: 8px 0 5px 0;
    
}

.stamp-img {
    margin: 50px 0 10px 0;
    text-align: center;
}

.btn {
    position: absolute;
    bottom: 5px;
}

.btn-block {
    width: 80%;
    margin: 1% 5%;
}

.spacing-intput {
    margin: 1px 0 10px 0;
}

.card {
    margin: 5px;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: auto; 
    height: 100%; 
    overflow: auto;
    margin: 10% 20%;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: auto; 
  }
  
  #closeCollectionBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #closeCollectionBtn:hover,
  #closeCollectionBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .updateButtons {
     margin: 5%;
  }